<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In this notebook we will be studying about the data science and tools for the data science and also various ecosystems involved in that.
First we will start by defining data science then the various tools and then the ecosystem.

objectives of the notebook are-
1. to define the data science
2. to talk about various tools
3. to talk about simple things in pyhton.

Some of the most common data science languages are-

In [11]:
mylist=('1.python\n2.java\n3.R')
print(mylist)

1.python
2.java
3.R

some of the most common data science libraries are-

In [12]:
mylist=('1.Pandas\n2.Numpy\n3.Scikit-learn')
print(mylist)

1.Pandas
2.Numpy
3.Scikit-learn

following is the table for the various data science tools

In [14]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
#import module
from tabulate import tabulate

# assign data
mydata = [
['Julia'],
['Apache Spark'],
['Jupyter Notebook']

]

# create header
head = ['Data science tools']

# display table
print(tabulate(mydata, headers=head, tablefmt="grid"))

+----------------------+
| Data science tools   |
+======================+
| Julia                |
+----------------------+
| Apache Spark         |
+----------------------+
| Jupyter Notebook     |
+----------------------+

Below are the few arithmetic expressions in python-

a=20
b=30
c=40
d=50
e=60
f=70
g=a+b+c+d+f+e
print(g)
h=e+((c*d)/b)**2
print(h)
i=h%g
print(i);

this is a simple arithmetic operation:

In [31]:
print('input the integers you want to add')
a=int(input('enter the first number:'))
b=int(input('enter the second number:'))
c=a+b
print('the sum of two integers are:', c)
d=int(input('enter the number you want to multiply:'))
e=c*d
print('the final answer is:',e)

input the integers you want to add

enter the first number: 8
enter the second number: 8

the sum of two integers are: 16

enter the number you want to multiply: 9

the final answer is: 144

a program to convert minutes to hour-

In [51]:

total_min= int(input('enter the total minutes'))
hours= int(total_min/60)
minutes= total_min%60
print('total time is', hours,'hrs ',minutes,'mins')

enter the total minutes 200

total time is 3 hrs  20 mins

Author:
A S